body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.box {
    border: 1px solid #0000001e;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 0;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.box img {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box.active {
    background-color: green;
    transform: scale(1.1);
}

.box.active img.smile {
    opacity: 1;
}

.box.failed {
    background-color: red;
    transform: scale(1.1);
}

.box.failed img.bomb {
    opacity: 1;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

#game-over {
    display: none;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .box {
        height: 40px;
        width: 40px;
    }

    .box img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 450px) {
    .box {
        height: 30px;
        width: 30px;
    }

    .box img {
        width: 25px;
        height: 25px;
    }
    #grid-container {

        grid-template-columns: max-content;
        gap: 5px;
   
    }
}
